@charset "UTF-8";
th, td {
	padding: 5px;
}
a {
	padding-right: 10px;
}


.c-product-list__fav-item svg {
	width: 20px;    height: 20px;
}
.product-image img{width: 25%;}

.customer-name{position: absolute; right: 0; padding-right: 1em;}
.memnunav{position: relative;}

.products{display: flex;flex-wrap:wrap}
.product{padding: 15px 25px; width:25% ; box-sizing: border-box;}
.product .img img{width: 100%;}